h2 {
  text-align: center;
}

img {
  border-radius: 25px;
  width: 150px;
}

article {
  max-width: 700pxgi;
}

.recipes,
.blog-posts {
  display: flex;
  column-gap: 20px;
  row-gap: 30px;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
}

.blog-card {
  width: 150px;
}
