h2 {
  color: var(--dark-brown);
  font-size: 40px;
}
label {
  color: var(--soldier-green);
}

.submit {
  font-family: "Catchy mager";
}

#send-button:hover {
  background-color: var(--bright-sand);
  color: var(--soldier-green);
  border: 0px;
  transform: all 200ms ease-in-out;
  cursor: pointer;
  box-shadow: 10px 10px 32px rgba(0, 0, 0, 0.1);
}

.contact {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  margin: 0 auto;
  max-width: 700px;
  min-height: 80vh;
}

.contact > div > form {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

@media screen and (max-width: 700px) {
  .contact {
    display: flex;
    flex-direction: column-reverse;
  }

  .form-img > img {
    width: 90vw;
  }
}

.contact-form-img {
  width: 400px;
  border-radius: 25px;
  box-shadow: 10px 10px 32px rgba(100, 79, 61, 0.2);
}

.contact label {
  margin-top: 5px;
}

.contact input {
  margin-bottom: 2px;
  background-color: transparent;
  border: solid 0px;
  border-bottom: 1px solid var(--bronze-gold);
  padding: 5px;
  border-radius: 5px;
}
.contact textarea {
  margin-bottom: 2px;
  background-color: transparent;
  border: 1px solid var(--bronze-gold);
  padding: 5px;
  border-radius: 5px;
}

.contact input[type="submit"] {
  background-color: var(--soldier-green);
  color: var(--bone-white);
  margin-top: 5px;
  width: fit-content;
  padding: 5px 20px;
}

.contact input:focus,
.contact textarea:focus {
  outline: none;
  background-color: #ddc8a098;
}

.contact input:focus::placeholder {
  color: var(--bone-white);
}

.contact textarea:focus::placeholder {
  color: var(--bone-white);
}

::placeholder {
  color: rgb(219, 219, 216);
}
