img {
  border-radius: 25px;
}
a {
  color: var(--soldier-green);
}
section {
  display: flex;
  justify-content: space-between;
  margin: auto;
  column-gap: 30px;
  max-width: 850px;
  margin-top: 3em;
}

h1 {
  font-size: 40px;
}
h2 {
  margin-top: 0;
  font-family: "Giaza Stencil";
  font-size: 40px;
}

h3 {
  font-family: "Catchy Mager";
  text-transform: uppercase;
}

.reverse {
  flex-direction: row-reverse;
}

.section-full {
  flex-direction: column;
  row-gap: 0;
}

.section-full > div {
  flex: 1;
}

.separator {
  text-align: center;
}

.separator-img {
  border-radius: 0;
  text-align: center;
  height: 40px;
  width: 500px;
}

@media screen and (max-width: 700px) {
  section {
    flex-direction: column-reverse;
    width: fit-content;
    margin: 0 auto;
    margin-top: 80px;
  }

  .reverse {
    flex-direction: column-reverse;
  }

  section img {
    width: 100%;
  }
}
