img {
  display: block;
  margin: 0 auto;
  border-radius: 25px;
}


.hummus-tagline {
  text-align: center;
}

.container {
  text-align: center;
}

.card-container {
  display: flex;
  gap: 10px;
  max-width: 60%;
  margin: 0 auto;
}

#about-me,
.sustainability {
  display: flex;
  gap: 30px;
  width: 600px;
  margin: auto;
}
.alli {
  width: 300px;
}

.cta {
  display: flex;
  flex-direction: row;
  background-color: #ddc8a0;
  width: fit-content;
  margin: auto;
  padding: 1em;
  gap: 30px;
}
.cta-copy {
  margin-top: 3em;
  width: 600px;
}
.e-book {
  width: 120px;
  border-radius: 0;
  border: 3px solid #fbf8f1;
}
