img {
  display: block;
  border-radius: 25px;
}

h1 {
  font-size: 50px;
  margin-top: 1.5em;
  text-align: center;
}

h2 {
  font-size: 50px;
  margin: 0;
  color: var(--soldier-green);
}

h3 {
  font-size: 35px;
  margin: 0;
  color: var(--dark-brown);
}

main p {
  font-size: 20px;
}

body > a {
  margin: 0 auto;
}

body > img {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

main {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

section {
  margin-bottom: 120px;
}

input {
  background-color: var(--bone-white);
  border: 1px solid transparent;
  border-radius: 15px;
  padding: 10px;
}

input:focus {
  outline: none;
}

span {
  font-size: 10px;
  text-align: center;
  background-color: var(--bronze-gold);
  color: var(--bone-white);
  padding: 3px 6px;
  border-radius: 25px;
}

span > i {
  margin-top: 3px;
  margin-right: 3px;
}

.hummus-tagline {
  text-align: center;
  margin-top: -3em;
  font-size: 20px;
}

.recipes-tagline {
  margin-top: -1.5em;
  margin-bottom: 2em;
  text-align: center;
}

.container {
  margin-bottom: 120px;
}

.card-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.card {
  max-width: 200px;
}

.card > img {
  box-shadow: 10px 10px 20px rgba(166, 132, 132, 0.2);
}

@media screen and (max-width: 700px) {
  .card-container {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    row-gap: 60px;
    flex-direction: column;
  }

  .card {
    margin: 0 auto;
    max-width: unset;
  }

  .card > img {
    width: 95vw;
    margin: 0 auto;
  }
}

#hello-there,
.sustainability {
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 700px) {
  #hello-there {
    display: flex;
    flex-direction: column;
  }

  .sustainability {
    display: flex;
    flex-direction: column-reverse;
  }

  #hello-there img,
  .sustainability img {
    width: 95vw;
    margin: 0 auto;
  }

  #hello-there > div,
  .sustainability > div {
    margin: 0 auto;
  }
}

.alli {
  width: 300px;
}

.cta {
  display: flex;
  flex-direction: row;
  background-color: #ddc8a0;
  margin: auto;
  padding: 1em;
  gap: 30px;
  margin-top: 3em;
}

.cta-copy > form {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 700px) {
  .cta {
    display: flex;
    flex-direction: column;
  }

  .cta-img {
    width: fit-content;
    margin: 0 auto;
  }

  .cta-copy > form {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
  }

  .cta-copy > form > input {
    flex: 1 0;
  }
}

.cta h2,
.cta p {
  font-size: large;
}

.e-book {
  width: 120px;
  border-radius: 0;
  border: 3px solid #fbf8f1;
}

.button-ebook {
  width: fit-content;
  border-radius: 15px;
  text-align: center;
  background-color: var(--soldier-green);
  color: var(--bone-white);
  text-decoration: none;
  padding: 10px;
  font-family: "Catchy Mager";
  transform: all 200ms ease-in-out;
}

.button-ebook:hover {
  cursor: pointer;
  box-shadow: 10px 10px 32px rgba(100, 79, 61, 0.2);
  color: var(--soldier-green);
  background-color: var(--bone-white);
  border: var(--soldier-green);
}
